<div class="row" data-ng-if="!signupSuccess">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
	    <h2>Register</h2>
	    <form name="form" ng-submit="register()" role="form" ng-novalidate>
	    	<label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="newUser.login" required />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="newUser.password" required />
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="newUser.email" required />
            <label for="dateOfBirth">Date of birth</label>
            <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control" ng-model="newUser.dateOfBirth" required />
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="newUser.firstName" required />
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="newUser.lastName" required />
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="#/home" class="btn btn-link">Cancel</a>
	    </form>
	</div>
</div>
<div class="row" data-ng-if="signupSuccess">
	<div class="col-md-2">
	</div>
	<div class="col-md-8">
		Thank you. You have been registered successfully with the login: {{user.login}}
		<br/>
		Please <a href="#/login">login</a> with your credentials
	</div>
</div>