<div class="container-fluid">	
<br/><br/><br/>
	<a href ng-click="showLeft($event)" ><img src="images/buttons/menu-button.png" /></a>
	<menu visible="leftVisible" alignment="left">
			<menu-item hash="#/home">Home</menu-item>
           <menu-item hash="#/crud/userProfiles">User Profile</menu-item>
           <menu-item hash="#/crud/catalogs">Catalog</menu-item>
           <menu-item hash="#/crud/categories">Category</menu-item>
           <menu-item hash="#/crud/products">Product</menu-item>
       </menu>
</div>