<div class="trigger">
	<label for="toggle"><span>Menu Toggle</span></label>
</div>

<div class="menuHolder">
<input class="submenus" id="submenu0" type="checkbox" />
<input class="submenus" id="submenu1" type="checkbox" />
<input class="submenus" id="submenu2" type="checkbox" />
<input class="submenus" id="submenu3" type="checkbox" />
<input class="submenus" id="submenu4" type="checkbox" />
<input class="submenus" id="submenu5" type="checkbox" />
<input class="submenus" id="submenu6" type="checkbox" />
<input class="submenus" id="submenu7" type="checkbox" />
<input class="submenus" id="submenu8" type="checkbox" />
<input class="submenus" id="submenu9" type="checkbox" />
<input class="submenus" id="submenu10" type="checkbox" />
<input class="submenus" id="submenu11" type="checkbox" />
<div class="menu">
	<ul>
		<li class="home"><a href="index.html">Home</a></li>
		<li><a class="hassub" href="index.html">Contact Us</a><label for="submenu1" aria-haspopup="true" aria-controls="p1"></label>
			<ul id="p1">
				<li class="back"><span>Contact Us</span><label for="submenu1"></label></li>
				<li><a href="index.html">Email</a></li>
				<li><a href="index.html">Telephone</a></li>
				<li><a href="index.html">Online Form</a></li>
				<li><a href="index.html">Snail Mail Address</a></li>
			</ul>
		</li>
		<li><a class="hassub" href="index.html">Resort</a><label for="submenu2" aria-haspopup="true" aria-controls="p2"></label>
			<ul id="p2">
				<li class="back"><span>Resort</span><label for="submenu2"></label></li>
				<li><a href="index.html">Ski Hire Facilities</a></li>
				<li><a class="hassub" href="index.html">Main Ski Slopes</a><label for="submenu3" aria-haspopup="true" aria-controls="p3"></label>
					<ul id="p3">
						<li class="back"><span>Resort &gt; Main Ski Slopes</span><label for="submenu3"></label></li>
						<li><a href="index.html">Beginners Slopes</a></li>
						<li><a href="index.html">Intermediate Slopes</a></li>
						<li><a class="hassub" href="index.html">Advanced Skill Levels</a><label for="submenu4" aria-haspopup="true" aria-controls="p4"></label>
							<ul id="p4">
								<li class="back"><span>Resort &gt; Main Ski Slopes &gt; Advanced Skill Levels</span><label for="submenu4"></label></li>
								<li><a href="index.html">Local</a></li>
								<li><a href="index.html">Nearby</a></li>
								<li><a href="index.html">With instructor</a></li>
								<li><a href="index.html">Snow boarding</a></li>
							</ul>
						</li>
						<li><a href="index.html">Expert</a></li>
					</ul>
				</li>
				<li><a href="index.html">Night Life</a></li>
				<li><a class="hassub" href="index.html">Restaurants</a><label for="submenu5" aria-haspopup="true" aria-controls="p5"></label>
					<ul id="p5">
						<li class="back"><span>Resort &gt; Restaurants</span><label for="submenu5"></label></li>
						<li><a href="index.html">Snow Hotel</a></li>
						<li><a href="index.html">The Snowman</a></li>
						<li><a href="index.html">Ice Cavern</a></li>
						<li><a href="index.html">Ski Inn</a></li>
					</ul>
				</li>
				<li><a class="hassub" href="index.html">Car Hire</a><label for="submenu6" aria-haspopup="true" aria-controls="p6"></label>
					<ul id="p6">
						<li class="back"><span>Resort &gt; Car Hire</span><label for="submenu6"></label></li>
						<li><a href="index.html">From Airport</a></li>
						<li><a href="index.html">In Resort</a></li>
						<li><a href="index.html">Multiple Resorts</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="hassub" href="index.html">Surrounding Area</a><label for="submenu7" aria-haspopup="true" aria-controls="p7"></label>
			<ul id="p7">
				<li class="back"><span>Surrounding Area</span><label for="submenu7"></label></li>
				<li><a href="index.html">Where to go</a></li>
				<li><a href="index.html">What to do</a></li>
				<li><a href="index.html">Places of interest</a></li>
				<li><a href="index.html">National parks &amp; Museums</a></li>
			</ul>
		</li>
		<li class="left"><a class="hassub" href="index.html">Information</a><label for="submenu8" aria-haspopup="true" aria-controls="p8"></label>
			<ul id="p8">
				<li class="back"><span>Information</span><label for="submenu8"></label></li>
				<li><a href="index.html">Money Exchange</a></li>
				<li><a class="hassub" href="index.html">Resort Information</a><label for="submenu9" aria-haspopup="true" aria-controls="p9"></label>
					<ul id="p9">
						<li class="back"><span>Information &gt; Resort Information</span><label for="submenu9"></label></li>
						<li><a href="index.html">Lift Passes</a></li>
						<li><a href="index.html">Insurance</a></li>
						<li><a class="hassub" href="index.html">Gear Rental</a><label for="submenu10" aria-haspopup="true" aria-controls="p10"></label>
							<ul id="p10">
								<li class="back"><span>Information &gt; Resort Information &gt; Gear Rental</span><label for="submenu10"></label></li>
								<li><a href="index.html">Boots</a></li>
								<li><a href="index.html">Skis</a></li>
								<li><a href="index.html">Ski Wear</a></li>
								<li><a href="index.html">Goggles</a></li>
							</ul>
						</li>
						<li><a href="index.html">Ski Schools</a></li>
						<li><a href="index.html">Snow Report</a></li>
					</ul>
				</li>
				<li><a class="hassub" href="index.html">Language</a><label for="submenu11" aria-haspopup="true" aria-controls="p11"></label>
					<ul id="p11">
						<li class="back"><span>Information &gt; Language</span><label for="submenu11"></label></li>
						<li><a href="index.html">Austrian</a></li>
						<li><a href="index.html">German</a></li>
						<li><a href="index.html">French</a></li>
						<li><a href="index.html">English</a></li>
					</ul>
				</li>
				<li><a href="index.html">Short Breaks</a></li>
			</ul>
		</li>
		<li class="last-child"><a href="index.html">Privacy</a></li>
	</ul>
</div>
</div>