<div class="row">
	<div class="col-md-3">
      <div class="title">COMPANY</div>
      <ul>
        <li><a href="#/about-us">ABOUT US</a></li>
        <li><a href="#/about-us">CAREERS</a></li>       
        <li><a href="#/about-us">MEDIA ROOM</a></li>
        <li><a href="#/about-us">BLOG</a></li>
        <li><a href="#/about-us">SITEMAP</a></li>        
      </ul>
    </div>

	<div class="col-md-3">
	  <div class="title ">LEARN MORE ABOUT</div>
      <ul>
        <li><a href="#/about-us">ECOMMERCE</a></li>   
        <li><a href="#/about-us">CUSTOMER SERVICE</a></li>           
        <li><a href="#/about-us">PARTNER &amp; AFFILIATE PROGRAMS</a></li>
        <li><a href="#/about-us">FIND A LOCAL STORE</a></li>
        <li><a href="#/about-us">SECURITY &amp; PRIVACY</a></li>
      </ul>

    </div>
	<div class="col-md-3">
    <div class="title ">SHOP MYLOCALSTORE</div>
      <ul>
        <li><a href="#/about-us">TALK TO AN AGENT</a></li>
        <li><a href="#/about-us">COMPARE PRODUCTS</a></li>
        <li><a href="#/about-us">HOSTING SOLUTIONS</a></li>
        <li><a href="#/about-us">CHOOSE TEMPLATES</a></li>
        <li><a href="#/about-us">PAYMENT OPTIONS</a></li>        
      </ul>
    </div>
	<div class="col-md-3">
      <div class="title">CUSTOMER SERVICE</div>
      <ul>
        <li><a href="#/about-us">ORDER &amp; DELIVERY POLICY</a></li>        
        <li><a href="#/about-us">INTERNATIONAL CUSTOMERS</a></li>  
        <li><a href="#/about-us">CONTACT US</a></li>
        <li><a href="#/about-us">SEND FEEDBACK</a></li>
        <li>91.940.320.397</li>     
      </ul>    
    </div>
	<div class="row-end"> </div>
</div>